<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header text-center">
          <h3>Meu Perfil</h3>
        </div>
        <div class="card-body text-center">
          <p><strong>Nome:</strong> <%= @user.name %></p>
          <p><strong>Email:</strong> <%= @user.email %></p>
          <br>
          <p><strong>IP:</strong> <%= @user_session.ip_address %></p>
          <p><strong>cidade:</strong> <%= @user_session.city %></p>
          <p><strong>estado:</strong> <%= @user_session.state %></p>
          <p><strong>pais:</strong> <%= @user_session.country %></p>

          <%= form_tag 'auth/logout', method: :post do %>
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <%= submit_tag 'Logout', class: "btn btn-danger mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
