<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Aleksander's Github Webscrapper</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="profiles" href="/profiles">Perfis</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container my-4">
  <%# INÍCIO DA EXIBIÇÃO DO FLASH/NOTICE %>
  <% flash.each do |msg_type, message| %>
    <div class="alert <%= bootstrap_class_for(msg_type) %> alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <%# FIM DA EXIBIÇÃO DO FLASH/NOTICE %>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header text-center">
          <h3>Cadastro</h3>
        </div>
        <div class="card-body">
          <%= simple_form_for @profile do |f| %>
            <%= f.input :name, required: true %>
            <%= f.input :github_url, required: true %>
            <div class="text-center">
              <%= f.button :submit, "Cadastrar", class: "btn btn-success mt-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
